<html xmlns="http://www.w3.org/1999/xhtml"><head><script async="" src="https://www.google-analytics.com/analytics.js"></script><script src="./aframe2/dist/aframe-v0.8.0.min.js"></script>
<script src="./ar2/aframe/build/aframe-ar.js"></script>
<script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"></script>

<link rel="import" href="chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/assets/tpl/resize-tooltip.html" /></head><body style="margin: -130.25px 0px 0px; overflow: hidden; font-family: monospace; width: 1562px; height: 1171.5px;" class="aframe-inspector-opened">
	<!-- <a-scene embedded arjs='sourceType: image; sourceUrl:../../data/images/armchair.jpg;'> -->
	<a-scene arjs="sourceType: webcam;" inspector="url: https://aframe.io/releases/0.3.0/aframe-inspector.min.js" class="" keyboard-shortcuts="" screenshot="" vr-mode-ui="" aframe-inspector-removed-embedded="undefined">
			 <a-entity position="0 0.1 0" scale="0.06 0.06 0.06" gltf-model="”url(robo_blender_final/scene.gltf);”" animation-mixer="clip: Take 01; loop:repeat repetitions:5" rotation="" visible="">

		</a-entity>
		<!-- <a-gltf-model src="robo_blender_final/scene.gltf" position="0 0.1 0" scale="0.05 0.05 0.05" animation-mixer="clip: Take 01" loop:"repeat" visible="" gltf-model="">
						</a-gltf-model> -->

		<a-marker-camera preset="custom" type="pattern" url="https://raw.githubusercontent.com/vettorazi/aframe-gltf-models/master/markerv8.patt" position="" rotation="" scale="" visible="" material="" arjs-anchor="" camera="">
</a-marker-camera>
	<canvas class="a-canvas" data-aframe-canvas="true" width="1562" height="911"></canvas>
  <a-entity camera="" position="" rotation="" scale="" visible=""></a-entity>
  <a-entity position="" rotation="" scale="" visible="" light="" id="luz"></a-entity>
  <a-entity position="" rotation="" scale="" visible="" light="" id="luuz"></a-entity>
  </a-scene>


<div id="arjsDebugUIContainer" style="position: fixed; bottom: 10px; width:100%; text-align: center; z-index: 1;color: grey;"><div style="color: rgba(0, 0, 0, 0.9); background-color: rgba(127, 127, 127, 0.5); display: inline-block; padding: 0.5em; margin: 0.5em; text-align: left;"></div><div style="color: rgba(0, 0, 0, 0.9); background-color: rgba(127, 127, 127, 0.5); display: inline-block; padding: 0.5em; margin: 0.5em; text-align: left;"></div></div><video autoplay="" muted="" playsinline="" style="width: 1562px; height: 1171.5px; position: absolute; top: 0px; left: 0px; z-index: -2; margin-left: 0px; margin-top: -130.25px;"></video></body></html>
