<!DOCTYPE html>
<script src="./aframe/dist/aframe-v0.8.0.min.js"></script>
<script src="./ar/aframe/build/aframe-ar.js"></script>

<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>
	<!-- <a-scene embedded arjs='sourceType: image; sourceUrl:../../data/images/armchair.jpg;'> -->
	<a-scene embedded arjs='sourceType: webcam;'>

		<a-entity
      position="0 0.1 0"
      scale="0.002 0.002 0.002"
      gltf-model=”url(robozinho/scene.gltf);”>
    <!--  <a-animation
        attribute="position"
        dur="1000"
        from="0 0.1 0"
        to="0 1 0"
        repeat="indefinite"
      ></a-animation>-->

		</a-entity>

		<a-marker-camera preset='custom' type='pattern' url='https://raw.githubusercontent.com/vettorazi/aframe-gltf-models/master/markerv9.patt'>
</a-marker-camera>
	</a-scene>
</body>
</html>
